html {
    scroll-behavior: smooth;
}

.main_h1 {
    margin-bottom: 20px;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    position: sticky;
}

.nav-item {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 18px;
    margin-right: 18px;
}

.active {
    background-color: #66bfbf;
    transition: 0.3 ease background-color;


}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Bold';
    padding: 0px 18px 0px 18px;
}


h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    color: #66bfbf;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
    text-align: center;
}

h3 {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    color: #0d3f41;
}

hr {
    color: #eaf6f6;
    width: 30%;
    margin: 100px auto;
    border-top: 10px dashed
}

.profile {
    width: 40%;
    margin: 100px auto;
    line-height: 2;
}

.top-container {
    background-color: #eafdfc;
    position: relative;
    padding-top: 130px;
    text-align: center;

}

.middle-container {
    margin-bottom: 30px;
    text-align: center;
}

.bottom-container {
    background-color: #66bfbf;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.bottom-cloud {
    position: absolute;

    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 60px;
    padding-bottom: 5%;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skill1-image {
    width: 25%;
    height: 25%;
    float: left;
    padding-right: 30px;
}

.skill2-image {
    width: 25%;
    height: 25%;
    float: right;
    padding-left: 30px;
}


.btn {
    background: #66bfbf none repeat scroll 0 0;
    border: 1px solid #66bfbf;
    color: #0c0c0c;
    outline: medium none;
    padding: 15px;
    text-decoration: none;
    border-radius: 47px;
}

a.footer-link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: pink;
    text-decoration: none;
}

.bottom-container a:hover {
    color: pink;
}

.bottom-name {
    color: white;
    font-size: 15px;
    margin-top: 30px;
}

.bottom-container a {
    color: #0c0c0c;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}

.contact-me {
    width: 50%;
    margin: auto;
    text-align: center;
}

.header {
    position: relative;
}

.my-photo {
    padding-bottom: 10px;
}

.about-me-text {
    padding-top: 10%;
}

#about-me {
    padding-top: 1%;
}

#skills {
    padding-top: 8%;
}

.bold_links {
    font-weight: 500;
    color: #0d3f41;
}

.my-mountain {
    width: 20%;
    text-align: center;
}


.mountain {
    width: 30%;
    height: 0%;
    margin-top: 100px;
    margin-bottom: 30px;
}

.p_ask {
    margin-bottom: 70px;
}

@media (min-device-width: 481px) and (max-device-width: 768px) {

    .top-container {
        background-color: #eafdfc;
        position: relative;
        padding-top: 70px;
        text-align: center;
    }

    .profile {
        width: 60%;
        margin: 50px auto;
        line-height: 2;
    }

    .my-photo {
        width: 50%;
    }

    .skill-row {
        width: 60%;
        margin: 100px auto;
        text-align: left;
        line-height: 2;
    }

    .skill1-image {
        width: 40%;
        height: 40%;
        float: left;
        padding-right: 30px;
    }

    .skill2-image {
        width: 40%;
        height: 40%;
        float: right;
        padding-left: 30px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        color: #66bfbf;
        font-weight: normal;
        text-align: center;

    }



    .bottom-cloud {

        display: none;
    }

    .mountain {
        height: 50%;
        width: 50%;
    }

    .top-cloud {
        position: absolute;
        right: 15%;
        top: 10%;
        padding-bottom: 15%;
        size: 70%;
    }

    .contact-me h2 {
        font-weight: bolder;
    }
}


@media (max-device-width: 480px) {

    .profile {
        width: 60%;
        margin: 20px auto;
        line-height: 2;
    }

    .my-photo {
        width: 60%;
        padding-top: 30px;
    }


    .skill-row {
        width: 60%;
        margin: 100px auto;
        text-align: left;
        line-height: 2;
    }

    .skill1-image {
        width: 40%;
        height: 40%;
        padding-left: auto;
        padding-right: auto;
        text-align: center;
    }

    .skill2-image {
        width: 40%;
        height: 40%;
        padding-left: auto;
        padding-right: auto;
        padding-top: 20px;
        text-align: center;

    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        color: #66bfbf;
        font-weight: normal;
        text-align: center;

    }



    .bottom-cloud {

        display: none;
    }

    .mountain {
        height: 40%;
        width: 40%;
    }

    .top-cloud {
        position: absolute;
        right: 15%;
        top: 10%;
        padding-bottom: 15%;
        size: 50%;
    }

    .contact-me h2 {
        font-weight: bolder;
    }

    .skill-row {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 70%;
    }

    hr {
        margin: 60px auto;
    }

}